<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Currency_Convertor_Result_Output</title>
</head>
<body bgcolor="yellow">
    <h1>To do Result page</h1>
    <a href="/Currency">Result</a>
    <br />
    <table border="1" align="center">
        <tr>
            <th>Currency</th>
            <th>date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for x in d:%}
        <tr>
            <td>{{x.1}}</td>
            <td>{{x.2}}</td>
            <td><a href="/edit/{{x.0}}"> Edit</a></td>
            <td><a href="/delete/{{x.0}}">Delete</a></td>
        </tr>
        {% endfor %}



    </table>
   

</body>
</html>