  <html>
<head>
	<title>TODO DASHBOARD</title>
</head>
<body bgcolor="red">
<h1>ToDo Home page</h1>
<a href="/form">Create task</a>
	<br />

<table border="1" align="center">
<tr>
	<th>FirstName</th>
	<th>LastName</th>
	<th>Gender</th>
	<th>CountryName</th>
	<th>PhoneNumber</th>
	<th>Date</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>
{% for x in d:%}
<tr>
	<td>{{x.1}}</td>
	<td>{{x.2}}</td>
	<td>{{x.3}}</td>
	<td>{{x.4}}</td>
	<td>{{x.5}}</td>
	<td>{{x.6}}</td>
	<td><a href="/edit/{{x.0}}"> Edit</a></td>
	<td><a href="/delete/{{x.0}}">Delete</a></td>

	
	
</tr>
{% endfor %}
</table>
	</body>
</html>